<div class="auth-container">
  <div class="auth-form-placeholder">
    <h2>User Authentication</h2>
    <p>Welcome back! Please enter your login details below</p>

    <div class="form-group-placeholder">
      <label for="email-login-static">Email:</label>
      <input type="email" id="email-login-static" class="form-control-placeholder" placeholder="email@example.ro">
    </div>
    <div class="form-group-placeholder">
      <label for="password-login-static">Parolă:</label>
      <input type="password" id="password-login-static" class="form-control-placeholder" placeholder="Submit password">
    </div>
    <button type="button" class="btn-submit-placeholder">Submit</button>

    <div class="navigation-links">
      <p>You don't have an account? <a routerLink="/signup">Sign Up Now!</a></p>
    </div>
  </div>
</div>
