<div class="auth-container">
  <div class="auth-form-placeholder">
    <h2>Create a new account</h2>
    <p>Join FitZone! Achieve your goals with us!</p>

    <div class="form-group-placeholder">
      <label for="fullName-signup-static">Full Name:</label>
      <input type="text" id="fullName-signup-static" class="form-control-placeholder" placeholder="Your full name">
    </div>
    <div class="form-group-placeholder">
      <label for="email-signup-static">Email:</label>
      <input type="email" id="email-signup-static" class="form-control-placeholder" placeholder="Your email address">
    </div>
    <div class="form-group-placeholder">
      <label for="password-signup-static">Create a password:</label>
      <input type="password" id="password-signup-static" class="form-control-placeholder" placeholder="Choose a safe password">
    </div>
    <button type="button" class="btn-submit-placeholder">SIGN ME UP!!</button>

    <div class="navigation-links">
      <p>Already have an account? <a routerLink="/login">Log in here!</a></p>
    </div>
  </div>
</div>
